*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/buildSrc/build/
/.idea/
bitrise.yml
TraFi-Android-app-lint-results-debug.html
TraFi-Android-greetings-lint-results-debug.html
my-release-key.keystore
.bitrise.secrets.yml
output.json
app-debug.apk
app-release.apk
app-release.aab